<div class="shadow rounded mt-4 p-3">
  <div class="row">
    <div class="display-1" style="text-align: center">Skills</div>
  </div>
  <div class="row">
    <div class="col-6">
      <app-skill>Java</app-skill>
      <app-skill>Python</app-skill>
      <app-skill>SQL</app-skill>
      <app-skill>C/C++</app-skill>
      <app-skill>REST APIs</app-skill>
      <app-skill>Docker</app-skill>
      <app-skill>AWS Lambda</app-skill>
      <app-skill>Git</app-skill>
    </div>
    <div class="col-6">
      <app-skill>JavaScript</app-skill>
      <app-skill>HTML</app-skill>
      <app-skill>CSS</app-skill>
      <app-skill>C/C++</app-skill>
      <app-skill>Angular</app-skill>
      <app-skill>React Native</app-skill>
      <app-skill>React.js</app-skill>
    </div>
  </div>
</div>
