<div
  class="shadow rounded m-3 me-2 ms-2 pt-2 pb-2 d-flex flex-row justify-content-between align-items-center"
  style="padding-left: 200px; padding-right: 200px"
>
  <div>
    <ng-content></ng-content>
  </div>
  <div>
    <img
      src="../../../assets/goldStar.png"
      alt="star"
      style="max-height: 1em; max-width: 2.5em"
    />
    <img
      *ngFor="let _; in: [].constructor(level ? 5 - level : 5)"
      src="../../../assets/grayStar.png"
      alt="star"
      style="max-height: 1em; max-width: 2.5em"
    />
  </div>
  <hr *ngIf="showDetails" />
</div>
