<div class="sticky-top navbar navbar-light bg-light">
  <div class="container row">
    <!-- <app-header class="col"></app-header> -->
    <nav class="navbar">
      <a href="#" class="navbar-brand">Jacob Gorton</a>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" href="#personal-info">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#skills">Skills</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div class="container">
  <div
    class="row"
    data-spy="scroll"
    data-target="#navbar-example2"
    data-offset="0"
  >
    <div class="col">
      <app-personal-info id="personal-info"></app-personal-info>
      <app-experience id="experience"></app-experience>
      <app-skills id="skills"></app-skills>
      <app-footer></app-footer>
    </div>
  </div>
</div>
