<div class="shadow rounded mt-4">
  <div class="row">
    <div class="display-1" style="text-align: center">Jacob Gorton</div>
  </div>
  <div class="row">
    <div class="col p-4 ms-4">
      <div class="display-6">About Me</div>
      <p>
        I was born and raised in Iowa, and attended college here as well. I am a
        senior expecting to graduate in the spring and become a software
        developer. I love to solve challenging problems and learn new things,
        and I am very excited to start my career. I am looking for a place that
        will allow me to grow as a developer and help me continuously learn and
        improve my skills. I have strong knowledge of front-end and back-end
        concepts, but prefer backend development
      </p>
    </div>
    <div class="col" style="text-align: center">
      <img
        src="../../assets/emptyProfile.webp"
        alt="profile picture"
        width="80%"
      />
    </div>
    <div class="col p-4 me-4" style="text-align: end">
      <div class="display-6">
        <p>Education</p>
      </div>
      <p>
        Iowa State University <br />Bachelors of Science<br />
        Computer Science and Mathematics<br />Minor in Philosophy <br />
        GPA: 3.72/4.0 <br />
        Fall 2019 through Spring 2022 <br />
        <strong>Strengths:</strong> <br />Algorithms, Data Structures, Operating
        Systems <br /><strong>Unique Courses: </strong><br />Quantum Computation
        and Information
      </p>
    </div>
  </div>
</div>
